[Unit]
Description=Moonboard BLE DBUS Service
After=bluetooth.target bluetooth.service dbus.service
Wants=bluetooth.target

[Service]
Type=dbus
TimeoutStartSec=30s
BusName=com.moonboard
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/python3 /opt/moonboard/ble/moonboard_BLE_service.py
User=root
Restart=always
RestartSec=5s
StartLimitIntervalSec=60s
StartLimitBurst=3
StandardOutput=file:/var/log/moonboard_ble_stdout.log
StandardError=file:/var/log/moonboard_ble_stderr.log

[Install]
WantedBy=multi-user.target