[Unit]
Description=Moonboard DBUS Service
Requires=dbus.socket
After=multi-user.target
SystemdService=dbus-org.com.moonbooard.service

[Service]
Type=dbus
BusName=com.moonboard
ExecStart=/usr/bin/python3 /home/pi/moonboard/ble/moonboard_BLE_service.py
User=root

[Install]
WantedBy=multi-user.target
Also=dbus.socket
