[Unit]
Description=Moonboard BLE DBUS Service
After=bluetooth.service dbus.service

[Service]
Type=dbus
BusName=com.moonboard
ExecStart=/usr/bin/python3 /home/admin/moonboard/ble/moonboard_BLE_service.py 
User=root
Restart=on-failure
RestartSec=5s
StandardOutput=file:/var/log/moonboard_ble_stdout.log
StandardError=file:/var/log/moonboard_ble_stderr.log

[Install]
WantedBy=multi-user.target
