[Unit]
Description=Moonboard LED Service
After=com.moonboard.service

[Service]
WorkingDirectory=/home/admin/moonboard/led/
ExecStart=/usr/bin/python3 /home/admin/moonboard/led/moonboard_led_service.py 
Type=simple
User=root
StandardOutput=file:/var/log/moonboard_led_stdout.log
StandardError=file:/var/log/moonboard_led_stderr.log

[Install]
WantedBy=multi-user.target