[Unit]
Description=Moonboard Express App
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/moonboard_web
ExecStart=/usr/bin/node /home/moonboard_web/api/index.js
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=moonboard_web
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=UI_DIR=/home/moonboard_web/ui

[Install]
WantedBy=multi-user.target